    body {
        background-color: black;
        max-width: 960px;
        margin: 0 auto;
    }
    }

    h1 {
        font-family: 'Metal Mania';
    }

    h2 {
        color: #950101;
        margin: 20px 20px;
        padding: 10px 0px;
        text-align: left;
    }

    h3 {
        color: #989898;
        text-align: center;
        padding: 15px;
        margin: 15px;
    }

    h4 {
        color: #989898;
        text-align: center;
        font-family: 'Chelsea Market';
    }

    h5 {
        color: #BFBFBF;
        text-align: center;
    }

    h6 {
        color: #950101;
        text-align: center;
        font-family: Luminari;
    }

    p {
        color: #BFBFBF;
        text-align: center;
    }

    ol {
        color: yellow;
        padding: 30px;
        margin: 30px;
    }

    a {
        font-family: 'Rubik Wet Paint'
            font-size: 20px;
        color: darkred;
        text-decoration: none;
        margin-right: 12px;
    }



    .bgcolor1 {}

    nav {
        text-align: center;
        font-family: 'Rubik Wet Paint';
    }

    nav li {
        display: inline-block;
        vertical-align: middle font-size: 20pt;
        text-decoration: none;
        background-color: black;
    }

    .box1 {
        margin: 20px;
        padding: 10px;
    }

    img {
        max-width: 28%;
        border: 5px solid #BFBFBF;
        float: left;
    }

    h7 {
        text-align: center;
        display: inline-block;
        color: #BFBFBF;
    }

    @media (max-width: 900px) {
        h1 {
            font-size: 30pt;
            color: #950101;
            text-align: center;
            font-family: 'Metal Mania';
        }

        h2 {
            font-size: 30pt;
            font-family: 'Metal Mania';
        }

        h3 {
            font-size: 14pt;
            font-family: 'Chelsea Market';
        }

        h4 {
            font-size: 14;
        }

        h5 {
            font-size: 12pt;
            font-family: 'Chelsea Market';
            color: #989898;
        }

        h6 {
            font-size: 40pt;
        }

        h7 {
            font-size: 11pt;
            font-family: 'Chelsea Market';
        }

        p {
            font-size: 13pt;
            font-family: 'Chelsea Market';
        }

        nav li {
            font-size: 16pt;
        }

        a {
            font-size: 18px;
        }


    }

    @media (min-width: 900px) {
        h1 {
            font-size: 50pt;
            color: #950101;
            text-align: center;
            font-family: 'Metal Mania';

        }

        h2 {
            font-size: 40pt;
            font-family: 'Metal Mania';
        }

        h3 {
            font-size: 16pt;
            font-family: 'Chelsea Market';
        }

        h4 {
            font-size: 23;
        }

        h5 {
            font-size: 15pt;
            font-family: 'Chelsea Market';
            color: #989898;
        }

        h6 {
            font-size: 70pt;
        }

        h7 {
            font-size: 14pt;
            font-family: 'Chelsea Market';
        }

        p {
            font-size: 15pt;
            font-family: 'Chelsea Market';
        }

        nav li {
            font-size: 20pt;
        }

        a {
            font-size: 27px;
        }

    }
